header{
    width: auto ;
    height: 50px;
    background-image: url(/img/htmlbanner.jpg);
    background-attachment:fixed;
    background-size: cover;
    border-collapse: collapse; width: 100%;
}

footer{
    background-color: rgb(162, 66, 246);
}

.header-text{
position: relative;
z-index: 1;
color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: none;
    height: 4px;
    background: linear-gradient(to right, #7800b9, #9f6bff);
    border-collapse: collapse;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}
nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover{
    color:aquamarine;
}
