header{
    width: auto ;
    height: 50px;
    background-image: url(/img/htmlbanner.jpg);
    background-attachment:fixed;
    background-size: cover;
    border-collapse: collapse; width: 100%;
}

footer{
    background-color: rgb(246, 234, 66);
}

.header-text{
position: relative;
z-index: 1;
color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: none;
    height: 4px;
    background: linear-gradient(to right, #be9304, #ffdf6b);
border-collapse: collapse;
}
table{
    background-color:  rgb(246, 234, 66);
    border-collapse: collapse;
    width: 100%;
}
